<div class="container" style="margin-top: 1pc">
  <div class="row">
    <h3>About</h3>
  </div>
  <div class="row">
    <p>This project serves as a demo of a Full-Stack CRUDL app.</p>
  </div>
  <hr>
  <div class="row">
    <h4>Technologies:</h4>
  </div>
  <br>
  <table class="table" style="text-align: center">
    <thead>
    <tr>
      <th>Name</th>
      <th>Version</th>
      <th>Purpose</th>
      <th>Domain</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td><a href="https://angular.io/" target="_blank">Angular</a></td>
      <td>8.2</td>
      <td>WebApp Framework. Typescript</td>
      <td>Front-End</td>
    </tr>
    <tr>
      <td><a href="https://cli.angular.io" target="_blank">Angular CLI</a></td>
      <td>8.2</td>
      <td>Command line interface for Angular</td>
      <td>Front-End</td>
    </tr>
    <tr>
      <td><a href="https://valor-software.com/ngx-bootstrap/#/" target="_blank">ngx-bootstrap</a></td>
      <td>5.1.2</td>
      <td>Bootstrap components, powered by Angular</td>
      <td>Front-End</td>
    </tr>
    <tr>
      <td><a href="https://www.npmjs.com/package/angular-font-awesome" target="_blank">angular-font-awesome</a></td>
      <td>3.1.2</td>
      <td>Angular component that manages the Font Awesome icons</td>
      <td>Front-End</td>
    </tr>
    <tr>
      <td><a href="https://www.npmjs.com/package/ngx-loading" target="_blank">ngx-loading</a></td>
      <td>3.0.1</td>
      <td>A customisable loading spinner for Angular applications</td>
      <td>Front-End</td>
    </tr>
    <tr>
      <td><a href="https://www.jetbrains.com/webstorm/" target="_blank">WebStorm</a></td>
      <td>2019.2</td>
      <td>JavaScript IDE</td>
      <td>Tools</td>
    </tr>
    <tr>
      <td><a href="https://symfony.es/" target="_blank">Symfony</a></td>
      <td>4.3.3</td>
      <td>WebApp Framework. PHP. MVC</td>
      <td>Back-End</td>
    </tr>
    <tr>
      <td><a href="https://www.doctrine-project.org/projects/orm.html" target="_blank">Doctrine</a></td>
      <td>2.6.3</td>
      <td>BackEnd - DB bridge</td>
      <td>ORM</td>
    </tr>
    <tr>
      <td><a href="https://www.mysql.com" target="_blank">MySQL</a></td>
      <td>5.7.25</td>
      <td>Relational DB</td>
      <td>Database</td>
    </tr>
    <tr>
      <td><a href="https://www.mamp.info/en/" target="_blank">MAMP</a></td>
      <td>5.3</td>
      <td>Development env</td>
      <td>Tools</td>
    </tr>
    <tr>
      <td><a href="https://www.jetbrains.com/phpstorm/" target="_blank">PHPStorm</a></td>
      <td>2019.2</td>
      <td>PHP IDE</td>
      <td>Tools</td>
    </tr>
    </tbody>
  </table>
</div>
